<div class="list-group">
    {{#each inventory}}
        <a href="#" class="list-group-item">
            <p class="list-group-heading">{{name}}</p>
            <p class="list-group-item-text">
                {{inventoryItem.quantity}} {{inventoryItem.unit}}
            </p>
        </a>
    {{else}}
        <a href="#" class="list-group-item">
            <p class="list-group-item-heading">
                Empty inventory :(
            </p>
        </a>
    {{/each}}
</div>