<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav nav-pills nav-justified">
        <li id="index-nav"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li id="search-nav"><a href="/search"><span class="glyphicon glyphicon-search"></span></a></li>
        <li id="profile-nav"><a href="/profile/me"><span class="glyphicon glyphicon-user"></span></a></li>
        <li id="messages-nav"><a href="/messages"><span class="glyphicon glyphicon-envelope"></span></a></li>
        <!-- <li>{{user_id}}</li> -->
        {{#if user}}
        	<li><a href="/profile/{{user.id}}"> {{user.first_name}}</a></li>
        	<li><a href="/logout" id="sign_out">Logout</a></li>
        {{else}}
        	<li><a href="/auth/facebook">Login with Facebook</a></li>
        {{/if}}
    </ul>
</nav>