<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" bs-navbar>
    <div class="container-fluid">
    <ul class="nav nav-pills nav-justified">
        <li data-match-route="/" id="index-nav">
          <a href="#/"><i class="fa fa-home"></i></a>
        </li>
        <li data-match-route="/search" id="search-nav">
          <a href="#/search"><i class="fa fa-search"></i></a>
        </li>
        <li data-match-route="/profile/.*" id="profile-nav">
          <a href="#/profile/{{user.id}}"><i class="fa fa-user"></i></a>
        </li>
        <li data-match-route="/messages" id="history-nav">
          <a href="#/messages"><i class="fa fa-clock-o"></i></a>
        </li>
        <li>
          <a href="/logout" id="sign_out">Logout</a>
        </li>
    </ul>
    </div>
</nav>