<nav role="navigation" class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NeighborCook</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-links">
            <ul class="nav navbar-nav">
                <li id="search-nav"><a href="#">Search</a></li>
                <li id="profile-nav"><a href="#">Profile</a></li>
                <li id="messages-nav"><a href="#">Messages</a></li>
                <li id="friends-nav"><a href="#">Friends</a></li>    <!-- TODO change to "Nearby"? -->
            </ul>
        </div>
    </div>
</nav>