<!DOCTYPE html>

<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
	<style>
		body {background-color:#E0E4CC;}
		p {font-family: Geneva}
		h1 {color:#428BCA;font-family: Noto Serif; text-align: center;}
		img {display: block; margin-left: auto; margin-right: auto;}
	</style>
</head>
<body>
	<h1 style="color:#428BCA;font-family: Noto Serif; text-align: center;">You have a new message on <a href='http://www.epulo.us/#/history'>Epulo!</a></h1>
	<hr>
	<img src='http://i.imgur.com/0ZEq0Eu.png'></img>
	<p class='myClass'><%- body %></p>

</body>

</html>