<h1>Help Center</h1>
<h3>How can we help you?<h3>

<div class="help-options">
	<table>
		<tr>
			<td>
				<div class="panel panel-primary" id="help1">
					<div class="panel-heading">Getting started</div>
					<div class="panel-body">
						<ul class="link-list">
							<li>Setting up Profile</li>
							<li>Setting up Inventory<li>
						</ul>
					</div>
				</div>
			</td>
			<td>
				<div class="panel panel-primary" id="help2">
					<div class="panel-heading">Managing my inventory</div>
					<div class="panel-body">
						<ul class="child-links">
							<li>Adding items</li>
							<li>Removing items<li>
						</ul>
					</div>
				</div>
			</td>
			<td>
				<div class="panel panel-primary" id="help3">
					<div class="panel-heading">Messaging</div>
					<div class="panel-body">
						<ul class="child-links">
							<li>Sending a message</li>
							<li><li>
						</ul>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>