<h1>NeighborCook</h1>
<p>Borrow ingredients from the people around you.</p>
<ul>
    <li>Borrow foods from people around you.</li>
    <li>Help out your neighbor who's missing that one ingredient.</li>
    <li>Be more involved in your community!</li>
</ul>
