		<table id="images">
			<tr>
				<td>
					<img src="images/csa-giving.jpg"/>
				</td>
				<td>
					<img src="images/Food-and-Community-1-640x473.jpg"/>
				</td>
				<td>
					<img src="images/fall-foods-superfruit-400x400.jpg"/>
				</td>
			</tr>
		</table>

	<div id="search">
		<h2 style=font-family:Futura>Search for food items in your neighborhood:</h2>
		<div id="bar">
			<form id="newsearch" method="get" action="http://www.google.com">
				<input type="text" class="inputtext" name="query" size="20" maxlength="100">
				<input type="submit" value="search" class="button">
			</form>
		<div class="clear"></div>
		</div>
	</div>