<h1> Let's set up your inventory </h1>
<h2> We've added: </h2>

<div class="panel panel-default">
	<div class="panel-body">
		<ul>
			<li>Salt</li>
			<li>Milk</li>
			<li>Eggs</li>
			<li>Butter</li>
			<li>Pasta</li>
			<li>Pepper</li>
			<li>Flour</li>
			<li>Rice</li>
		<ul>
	</div>

	<button type="submit" class="btn btn-default">Done</button>
	<button type="submit" class="btn btn-default">Edit inventory</button>
</div>