<h3>Profile</h3>
<!-- profile pic -->
<!-- # times donated something -->
<!-- # times received sometihng -->
<!-- location -->
<!-- inventory -->

<!-- TODO: use "editable" template var to allow users to edit the page (profile.js)
       * for instance, make buttons that are hidden unless "editable" is true
       * we can change how this works, it might be hard to implement as a boolean flag
-->