body {
    background: url('/images/fabric_plaid.png') repeat;
}

.content {
    padding-top: 60px;
    padding-bottom: 20px;
}

@media (min-width: 320px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin: 5px 2.5px;
    }
}

.init-welcome {
    padding: 15px 0;
}

#create-bulletin {
    margin-top: 15px;
}

#edit-inventory {
    margin-top: 5px;
}

.inventory-container {
    margin-top: 10px;
}

.inventory-list {
    margin-top: 10px;
}

.help-links ul {
    list-style-type: circle; 
}

#search-summary {
    padding-top: 15px;
    padding-bottom: 5px;
}

.datepicker.dropdown-menu {
    width: 250px;
    height: 270px;
}
.datepicker.dropdown-menu button {
    outline: 0;
    border: 0;
}
.datepicker.dropdown-menu tbody {
    height: 180px;
}
.datepicker.dropdown-menu tbody button {
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}

.timepicker.dropdown-menu {
    padding: 0 4px;
}
.timepicker.dropdown-menu button {
    outline: 0;
    border: 0;
}
.timepicker.dropdown-menu tbody button {
    padding: 6px
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon p {
    position: absolute;
    right: 70px;
    padding: 10px 12px;
    z-index: 10;
}