body {
    background: url('/images/fabric_plaid.png') repeat;
}

.content {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media (min-width: 320px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin: 5px 2.5px;
    }
}

.inventory-container {
    margin-top: 10px;
}

.inventory-list {
    margin-top: 10px;
}

.help-links ul {
    list-style-type: circle; 
}