body {
    background: url('/images/epulo_wallpaper.png') repeat;
    font-family: 'Noto Serif', serif;
    color: #363536;
}

body.splash {
    background: none;
    background-color: #E0E4CC;
}

.content {
    margin-top: 75px; 
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #E0E4CC;
    border-radius: 10px;
}

@media (min-width: 320px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin: 5px 2.5px;
    }
}

.bulletin-type > .btn > input[type="radio"] {
    display: none;
}

.nav-img {
    width: 24px;
}

.init-welcome {
    padding: 15px 0;
}

.bulletin-header {
    color: inherit;
}

#create-bulletin {
    margin-top: 15px;
}

#edit-inventory {
    margin-top: 5px;
}

.inventory-container {
    margin-top: 10px;
}

.inventory-list {
    margin-top: 10px;
}

.help-links ul {
    list-style-type: circle; 
}

#search-summary {
    padding-top: 15px;
    padding-bottom: 5px;
}

.datepicker.dropdown-menu {
    width: 250px;
    height: 270px;
}
.datepicker.dropdown-menu button {
    outline: 0;
    border: 0;
}
.datepicker.dropdown-menu tbody {
    height: 180px;
}
.datepicker.dropdown-menu tbody button {
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}

.timepicker.dropdown-menu {
    padding: 0 4px;
}
.timepicker.dropdown-menu button {
    outline: 0;
    border: 0;
}
.timepicker.dropdown-menu tbody button {
    padding: 6px
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon p {
    position: absolute;
    right: 70px;
    padding: 7px 12px;
    z-index: 10;
}

footer {
    background: #FA6900;
    padding: 18px 0;
    border-top: 1px solid #000;
    margin-top: 10px;
}

footer a {
    color: #E0E4CC;
}

footer a:hover {
    color: #363536;
}

.wrapper > .container {
    padding-top: 60px;
}

h1.header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 45px;
    color: #FA6900;
    font-size: 60px;
}

.login {
  padding: 5px 0;
}

.bullets {
  padding: 10px 0;
}

.epulo_info {
    padding: 15px;
}

.epulo_logo {
    display: block; 
    margin: auto;
    width: 200px;
}

.panel-primary {
    border-color: #FA6900;
}

.panel-heading-epulo {
    background-color: #FA6900;  
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #E0E4CC;
}

.epulo_body {
    background-color: #E0E4CC;
    color: #FA6900;
}

.btn-success {
    background-color: #69D2E7;
    border: #363536;
}

.btn-success:hover {
    background-color: #69D2E7;
}

.epulo_button {
    background-color: #F38630;
    color: white;
}

.epulo_button:hover {
    background-color: #F38630;
    color: white;
}

.info_label {
    color: #FA6900;
}

a.link_color {
    color: #69D2E7;
}

.below_margin {
    margin-bottom: 20px;
}

nav.navbar {
    background: #363536;   
}

.no_bottom_margin {
    margin-bottom: 0px;
}