<h1>Create a Bulletin</h1>

<form class="form" role="form" ng-submit="postBulletin()">
    <div class="form-group">
        <label class="control-label" for="inputItem">Item</label>
        <input type="text" class="form-control"
               id="inputItem" ng-model="itemName"
               required="true" placeholder="Enter item" />
    </div>
    <div class="form-group">
        <label class="control-label" for="inputMessage">Message</label>
        <textarea class="form-control" rows="3"
                  id="inputMessage" ng-model="message"
                  placeholder="Enter a message"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="inputType">Type</label>
        <select class="form-control" id="inputType" ng-model="type">
            <option value="request">Request</option>
            <option value="offer">Offer</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Expiration</label>
        <input type="date" class="form-control" ng-model="expirationDate" />
        <input type="time" class="form-control" ng-model="expirationTime" />
    </div>
    <button type="submit" class="btn btn-default">Add Bulletin</button>
</form>
