<div ng-show="error" class="alert alert-warning">
    <a class="close" ng-click="resetError()">×</a>
    <div>{{error}}</div>
</div>

<h2 ng-hide="edit">Post Bulletin</h2>
<h2 ng-show="edit">Edit Bulletin</h2>

<form class="form" role="form" name="bulletin" ng-submit="buildBulletin()" novalidate>
    <div class="form-group"
         ng-class="{ 'has-error' : bulletin.itemName.$invalid && !bulletin.itemName.$pristine }">
        <label class="control-label" for="inputItem">Item</label>
        <input type="text" class="form-control"
               id="inputItem" ng-model="itemName" name="itemName"
               ng-options="item.name as item.name for item in typeahead($viewValue)"
               placeholder="Enter item" required bs-typeahead>

        <p ng-show="bulletin.itemName.$invalid && !bulletin.itemName.$pristine" class="help-block">
            <i class="fa fa-warning"></i> Enter something you need or want to offer.
        </p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : bulletin.message.$error.maxlength }">
        <label class="control-label" for="inputMessage">Message</label>
        <textarea class="form-control" rows="3" ng-maxlength="255"
                  id="inputMessage" ng-model="message" name="message"
                  placeholder="Enter a message (optional)"></textarea>

        <p ng-show="bulletin.message.$error.maxlength" class="help-block">
            <i class="fa fa-warning"></i> Messages can only be 255 characters in length.
        </p>
    </div>
    <div class="form-group">
        <label class="control-label">Type</label><br>
        <div class="btn-group bulletin-type">
            <label class="btn btn-default">
                <input type="radio" ng-model="type" value="request" bs-radio> Request
            </label>
            <label class="btn btn-default">
                <input type="radio" ng-model="type" value="offer" bs-radio> Offer
            </label>
        </div>
    </div>
    <!-- TODO future date validation still not 100% working -->
    <div class="form-group"
         ng-class="{ 'has-error' : bulletin.eDate.$invalid || bulletin.eTime.$invalid }">
        <label class="control-label">{{ type | sentenceCase }} Expiration</label>
        <input type="text" size="10" class="form-control" ng-model="expiration" name="eDate"
               data-date-format="M/dd/yyyy" data-min-date="today"
               data-autoclose="1" placeholder="Date" bs-datepicker required future-date>
        <input type="text" size="8" class="form-control" ng-model="expiration" name="eTime"
               data-autoclose="1" data-length="3" data-minute-step="60"
               placeholder="Time" bs-timepicker required future-date>

        <p ng-show="bulletin.eDate.$error.date && bulletin.eTime.$error.date" class="help-block">
            <i class="fa fa-warning"></i> Enter a valid expiration date and time.
        </p>
        <p ng-show="bulletin.eDate.$error.date && !bulletin.eTime.$error.date" class="help-block">
            <i class="fa fa-warning"></i> Enter a valid expiration date.
        </p>
        <p ng-show="!bulletin.eDate.$error.date && bulletin.eTime.$error.date" class="help-block">
            <i class="fa fa-warning"></i> Enter a valid expiration time.
        </p>
        <p ng-show="bulletin.eDate.$error.futureDate || bulletin.eTime.$error.futureDate"
           class="help-block">
            <i class="fa fa-warning"></i> Expiration must occur at a future date and time.
        </p>
    </div>
    <button ng-hide="edit" type="submit" class="btn btn-success" ng-disabled="bulletin.$invalid">
        <i class="fa fa-plus"></i> Add Bulletin
    </button>
    <button ng-show="edit" type="submit" class="btn btn-success" ng-disabled="bulletin.$invalid">
        <i class="fa fa-edit"></i> Edit Bulletin
    </button>
</form>