<div ng-show="notice" class="alert alert-info">
    <a class="close" ng-click="resetNotice()">×</a>
    <div>{{notice}}</div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form ng-submit="transferSearch()" class="input-group right-inner-addon">
      <p ng-click="clearQuery()" ng-show="query.length > 0">
        <i class="fa fa-times-circle"></i>
      </p>
      <input type="text" class="form-control" ng-model="query"
             ng-options="item.name as item.name for item in typeahead($viewValue)"
             placeholder="Ingredient Search" bs-typeahead>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Search</button>
      </span>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h3>Bulletins</h3>
  </div>
  <div class="col-xs-6">
    <a class="btn btn-success pull-right" href="#/bulletins/create" id="create-bulletin">
      <i class="fa fa-thumb-tack"></i> Post Bulletin
    </a>
  </div>
</div>
<div ng-show="requests">
	<h5>People around you need:</h5>
  <div class="panel-group" id="accordion-requests">
    <div class="panel panel-primary" ng-repeat="req in requests">
      <div class="panel-heading-epulo">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion-requests"
           data-target="#bulletin-detail-{{req.id}}">
        {{ req.item.name }} by {{ req.expiration | calendar }}
        </a>
    </div>
    <div id="bulletin-detail-{{req.id}}" class="collapse">
      <div class="panel-body epulo_body">
        <span ng-show="req.message">{{ req.message }}</span>
        <span ng-hide="req.message"><em>No message</em></span>
        <p>
          - <a href="#/profile/{{ req.user.id }}">{{ req.user.first_name }} {{ req.user.last_name }}</a>
        </p>
        <a href="#/messages/compose/{{ req.user.id }}?item={{ req.item.name }}&offer=1"
           class="btn btn-default btn-sm pull-right" ng-click="recordEvent('request_response', req.id)">
        <i class="fa fa-envelope-o fa-fw"></i> Email
      </a>
    </div>
  </div>
</div>
</div>
</div>

<div ng-show="offers">
	<h5>People around you are offering:</h5>
  <div class="panel-group" id="accordion-offers">
    <div class="panel panel-primary" ng-repeat="offer in offers">
      <div class="panel-heading-epulo">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion-offers"
           data-target="#bulletin-detail-{{offer.id}}">
        {{ offer.item.name }} until {{ offer.expiration | calendar }}
        </a>
    </div>
    <div id="bulletin-detail-{{offer.id}}" class="collapse">
      <div class="panel-body epulo_body">
        <span ng-show="offer.message">{{ offer.message }}</span>
        <span ng-hide="offer.message"><em>No message</em></span>
        <p>
          - <a href="#/profile/{{ offer.user.id }}">{{ offer.user.first_name }} {{ offer.user.last_name }}</a>
        </p>
        <a href="#/messages/compose/{{ offer.user.id }}?item={{ offer.item.name }}&offer=0"
           class="btn btn-default btn-sm pull-right" ng-click="recordEvent('offer_response', offer.id)">
        <i class="fa fa-envelope-o fa-fw"></i> Email
      </a>
    </div>
  </div>
</div>
</div>
</div>

<!-- TODO: can put this into directive by "Isolating the Scope of a Directive" -->
<div ng-show="authored">
	<h5>Your open bulletins:</h5>
  <div class="panel-group" id="accordion-authored">
    <div class="panel panel-primary" id="bulletin-{{bulletin.id}}" ng-repeat="bulletin in authored">
      <div class="panel-heading-epulo">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion-authored"
           data-target="#bulletin-detail-{{bulletin.id}}">
        {{ bulletin.type | sentenceCase }}: {{ bulletin.item.name }}
        <span ng-if="bulletin.type === 'request'"> by</span>
        <span ng-if="bulletin.type === 'offer'"> until</span>
        {{ bulletin.expiration | calendar }}
        </a>
    </div>
    <div id="bulletin-detail-{{bulletin.id}}" class="collapse">
      <div class="panel-body epulo_body">
        <span ng-show="bulletin.message">{{ bulletin.message }}</span>
        <span ng-hide="bulletin.message"><em>No message</em></span>
        <div class="btn-toolbar">
          <a class="btn btn-danger btn-sm pull-right" ng-click="deleteBulletin(bulletin.id)">
            <i class="fa fa-trash-o"></i>  Delete
          </a>
          <a class="btn btn-success btn-sm pull-right" ng-click="editBulletin(bulletin.id)">
            <i class="fa fa-edit"></i>  Edit
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
