<div ng-controller="HomeCtrl">

<div ng-show="requests">
	<h4>People around you need:</h4>
	<table class="table table-hover">
	  <tr class="col-xs-12" ng-repeat="req in requests">
	    <td class="col-xs-5">{{ req.item.name }}</td>
        <td class="col-xs-3">{{ req.expiration | fromNow }}</td>
	    <td class="col-xs-3"><a href="#/profile/{{req.user.id}}">{{ req.user.first_name }}</a></td>
	    <td class="col-xs-1">
            <a href="#/messages/compose/{{req.user.id}}?item={{req.item.name}}&offer=1" class="btn btn-default btn-sm">
                <i class="fa fa-envelope-o fa-fw"></i> Email
            </a>
        </td>
	  </tr>
	</table>
</div>

<div ng-show="offers">
	<h4>People around you are offering:</h4>
	<table class="table table-hover">
	  <tr class="col-xs-12" ng-repeat="offer in offers">
	    <td class="col-xs-5">{{ offer.item.name }}</td>
        <td class="col-xs-3">{{ offer.expiration | fromNow }}</td>
	    <td class="col-xs-3"><a href="#/profile/{{offer.user.id}}">{{ offer.user.first_name }}</a></td>
	    <td class="col-xs-1">
            <a href="#/messages/compose/{{offer.user.id}}?item={{offer.item.name}}&offer=0" class="btn btn-default btn-sm">
                <i class="fa fa-envelope-o"></i> Email
            </a>
        </td>
	  </tr>
	</table>
</div>

<div ng-show="authored">
	<h4>Your open bulletins:</h4>
	<table class="table table-hover">
	    <tr class="col-xs-12" ng-repeat="myBulletin in authored">
          <td class="col-xs-5">{{ myBulletin.item.name }}</td>
          <td class="col-xs-3">{{ myBulletin.expiration | fromNow }}</td>
	      <td class="col-xs-3">{{ myBulletin.type | sentenceCase }}</td>
          <td class="col-xs-1">
              <a class="btn btn-danger btn-sm" ng-click="deleteBulletin(myBulletin.id)">
                  <i class="fa fa-trash-o"></i>  Delete
              </a>
          </td>
	    </tr>
	</table>
</div>

<hr>
<div>
  <div class="row">
    <div class="col-xs-12">
    <form ng-submit="search()" class="input-group">
      <input type="text" class="form-control" ng-model="query"
             ng-options="item.name as item.name for item in typeahead($viewValue)"
             placeholder="Ingredient Search" bs-typeahead>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Search</button>
      </span>
    </form>
    </div>
  </div>

  <div id="searchTemplate" ng-show="doneQuery">
      <div class="list-group">
	  <p>Your search for <strong>{{doneQuery}}</strong> returned {{results.length}} results:</p>

      <div ng-repeat="result in results">
          <a href="#/profile/{{result.id}}" class="list-group-item">
            <h5 class="list-group-item-heading">{{result.first_name}}</h5>
            <img ng-src="{{result.img_path}}" />
            <p class="list-group-item-text">{{result.location}}</p>
          </a>
	  </div>
	  <!-- TODO: support infinite scroll -->
	  </div>
	</div>
</div>
</div>
