<div ng-show="error" class="alert alert-warning">
    <a class="close" ng-click="resetError()">×</a>
    <div>{{error}}</div>
</div>

<div class="panel panel-default inventory-container">
    <div class="panel-heading">
        <h4>Inventory Management</h4>
    </div>
    <div class="panel-body">
        <form class="input-group" role="form" ng-submit="addItem()">
            <label class="sr-only" for="inputItem">Item</label>
            <input type="text" class="form-control"
                   id="inputItem" name="itemName" ng-model="itemName"
                   ng-options="item.name as item.name for item in typeahead($viewValue)"
                   placeholder="Enter item" required bs-typeahead>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </form>

        <div class="panel-group inventory-list" id="accordion">
            <div class="panel panel-default inventory-item" ng-repeat="item in inventory">
                <div data-toggle="collapse" data-parent="#accordion" data-target="#item{{item.id}}">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{item.name}}</h5>
                    </div>
                </div>
                <div id="item{{item.id}}" class="collapse">
                    <div class="panel-body">
                        <a class="btn btn-danger btn-sm pull-right" ng-click="deleteItem(item.id)">
                            <i class="fa fa-trash-o"></i>  Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>