<div class="media">
  <img class="pull-left media-object img-rounded" ng-src="{{user.img_path}}" alt="Profile Picture">
  <div class="media-body">
    <h2 class="media-heading">Welcome to <strong>NeighborCook</strong>, {{user.first_name}}!</h2>
  </div>
</div>

<form name="initForm" novalidate>
  <h3> Please enter the below information to complete your profile: </h3>
  <div class="form-group" ng-class="{ 'has-error' : initForm.email.$invalid && !initForm.email.$pristine }">
    <label class="control-label">Email</label>
    <input type="email" class="form-control" ng-model="userField.email" placeholder="{{user.first_name}}@stanford.edu" name="email" required>
    <p ng-show="initForm.email.$invalid && !initForm.email.$pristine" class="help-block">Enter a valid email.</p>
    <!-- TODO: get the bootstrap icons to align properly -->
    <!-- <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> -->
  </div>
  <div class="form-group" ng-class="{ 'has-error' : initForm.location.$invalid && !initForm.location.$pristine }">
    <label class="control-label">At home?</label>
    <button class="btn btn-default" ng-click="getLocation()" ng-disabled="gpsDisable">{{gpsStatus}}</button>

    <br>
    <label class="control-label">Location (Zipcode)</label>
    <input type="text" class="form-control" ng-model="userField.location" name="location" required>
    <p ng-show="initForm.location.$invalid && !initForm.location.$pristine" class="help-block">Your location is required.</p>
  </div>
  <h3> We've started setting up your inventory. Do you have these items? </h3>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="checkbox" ng-repeat="item in defaultItems">
        <label>
          <input type="checkbox" checked="checked" name="group" ng-model="selectedItems[item.id]"> {{item.item}}
        </label>
      </div>
      <hr>
      <button type="submit" class="btn btn-default" ng-disabled="initForm.$invalid" ng-click="initUser()">Complete Profile</button>
    </div>
  </div>
</form>