<div class="media init-welcome">
  <img class="pull-left media-object img-rounded" ng-src="{{user.img_path}}" alt="Profile Picture">
  <div class="media-body">
    <h4 class="media-heading">Welcome to Epulo, {{user.first_name}}!</h4>
  </div>
</div>

<form name="initForm" novalidate>
  <p class="lead"> <strong>Let's complete your user profile:</strong> <br/>
    <small>This information will be used to help you connect with the people nearest to you.</small>
  </p>
  <div class="form-group" ng-class="{ 'has-error' : initForm.email.$invalid && !initForm.email.$pristine }">
    <label class="control-label" for="email">Email</label>
    <input type="email" class="form-control" ng-model="userField.email"
           placeholder="{{ user.first_name | lowercase }}@stanford.edu"
           name="email" id="email" required>
    <p ng-show="initForm.email.$invalid && !initForm.email.$pristine" class="help-block">
      <i class="fa fa-warning"></i> Enter a valid email.
    </p>
  </div>
  <div class="form-group">
    <label class="control-label">Are you at home?</label><br>
    <button type="button" class="btn btn-default" ng-model="home" ng-click="setAutoLocation()" bs-checkbox>
        <i class="fa fa-check" ng-show="home"></i> Auto-fill my location
    </button>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : initForm.location.$invalid && !initForm.location.$pristine }">
    <label class="control-label">Home Location</label>
    <input type="text" class="form-control" ng-model="userField.location" name="location" placeholder="City, state" required>
    <p ng-show="initForm.location.$invalid && !initForm.location.$pristine" class="help-block">
      <i class="fa fa-warning"></i> Your location is required.
    </p>
  </div>

  <p class="lead"><small> Now to start setting up your inventory. Do you have these items to share? </small></p>
  <div class="list-group">
    <a class="list-group-item" ng-repeat="item in defaultItems" ng-click="toggleItem(item.id)">
        {{item.item}} <i ng-show="selectedItems[item.id]" class="fa fa-check pull-right"></i>
    </a>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="initForm.$invalid" ng-click="initUser()">Complete Profile</button>
</form>
