<h3>Activity History</h3>

<div ng-show="requests.length">
	<!-- TODO: add filtering/sorting by time here -->
	<h4>Recent requests:</h4>
	<table class="table table-hover">
	  <tr class="row" ng-repeat="req in requests | orderBy: 'history.createdAt':true | limitTo:10">
	    <td><a href="#/profile/{{req.user.id}}">{{req.user.first_name}}</a></td>
	    <td>{{req.history.item.name}}</td>
	    <td>{{req.history.createdAt | fromNow}}</td>
	  </tr>
	</table>
</div>

<div ng-show="offers.length">
	<h4>Recent offers:</h4>
	<table class="table table-hover">
	  <tr class="row" ng-repeat="offer in offers | orderBy: 'history.createdAt':true | limitTo:10">
	    <td><a href="#/profile/{{offer.user.id}}">{{offer.user.first_name}}</a></td>
	    <td>{{offer.history.item.name}}</td>
	    <td>{{offer.history.createdAt | fromNow}}</td>
	  </tr>
	</table>
</div>

<div ng-show="bulletinsOpen.length || bulletinsExpired.length">
  <div class="panel-group" id="accordion">
    <div ng-show="bulletinsOpen.length">
      <h4>Open bulletins</h4>
      <div class="panel panel-primary" id="bulletin-{{bulletin.id}}" ng-repeat="bulletin in bulletinsOpen | orderBy: 'expiration'">
        <div class="panel-heading">
          <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#bulletin-detail-{{bulletin.id}}">
          {{ bulletin.type | sentenceCase }}: {{ bulletin.item.name }}
          <span ng-if="bulletin.type === 'request'"> by</span>
          <span ng-if="bulletin.type === 'offer'"> until</span>
          {{ bulletin.expiration | calendar }}
          </a>
        </div>
        <div id="bulletin-detail-{{bulletin.id}}" class="collapse">
          <div class="panel-body">
            <span ng-show="bulletin.message">{{ bulletin.message }}</span>
            <span ng-hide="bulletin.message"><em>No message</em></span>
            <div class="btn-toolbar">
              <a class="btn btn-danger btn-sm pull-right" ng-click="deleteBulletin(bulletin.id)">
                <i class="fa fa-trash-o"></i>  Delete
              </a>
              <a class="btn btn-success btn-sm pull-right" ng-click="editBulletin(bulletin.id)">
                <i class="fa fa-edit"></i>  Edit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion">
    <div ng-show="bulletinsExpired.length">
      <h4>Expired bulletins</h4>
      <div class="panel panel-primary" id="bulletin-{{bulletin.id}}" ng-repeat="bulletin in bulletinsExpired | orderBy: 'expiration' | limitTo:10">
        <div class="panel-heading">
          <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#bulletin-detail-{{bulletin.id}}">
          {{ bulletin.type | sentenceCase }}: {{ bulletin.item.name }}
          <span ng-if="bulletin.type === 'request'"> by</span>
          <span ng-if="bulletin.type === 'offer'"> until</span>
          {{ bulletin.expiration | calendar }}
          </a>
        </div>
        <div id="bulletin-detail-{{bulletin.id}}" class="collapse">
          <div class="panel-body">
            <span ng-show="bulletin.message">{{ bulletin.message }}</span>
            <span ng-hide="bulletin.message"><em>No message</em></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<a class="btn btn-success pull-right" href="#/bulletins/create" id="create-bulletin"><i class="fa fa-thumb-tack"></i> Post Bulletin</a>