<h3 ng-show="offer">You are offering {{item}} to {{recipient.name}}:</h3>
<h3 ng-hide="offer">You are requesting {{item}} from {{recipient.name}}:</h3>

<p>Sending email to: <span id="messageEmail">{{recipient.email}}</span></p>
<form role="form" ng-submit="sendEmail()">
  <div class="form-group">
    <label class="col-xs-2" for="messageSubject">Subject</label>
    <input type="text" class="form-control" id="messageSubject" ng-model="subject"/>
  </div>
  <div class="form-group">
    <label class="col-xs-2" for="messageBody">Body</label>
    <textarea class="form-control" id="messageBody" ng-model="body"
            placeholder="Quantity, type, and pick up time">
  </textarea>
  </div>
  <button class="btn btn-default" type="submit">Open email client</button>
</form>