<div ng-controller="ProfileCtrl">

<div ng-show="error" class="alert alert-warning">
    <a class="close" ng-click="resetError()">×</a>
    <div>{{error}}</div>
</div>

<div class="panel panel-default inventory-container">
    <div class="panel-heading">
        <div class="media">
            <img class="pull-left media-object img-rounded" ng-src="{{image}}" alt="Profile Picture" />
            <div class="media-body">
                <h4 class="media-heading">
                {{name}}
                <!--<a ng-show="editable" class="btn btn-default btn-xs pull-right">-->
                    <!--<span class="glyphicon glyphicon-pencil"></span>-->
                <!--</a>-->
                <!-- TODO: this button should allow users to edit the page (profile.js) -->
                <!--<a ng-hide="editable" class="btn btn-primary btn-xs pull-right"-->
                   <!--href="#/messages/compose/{{id}}?offer=0">-->
                    <!--Message-->
                <!--</a>-->
                </h4>
                Location: <strong>{{location}}</strong><br />
            </div>
        </div>
    </div>
    <div class="panel-body">
        <h5>
            Available Foods in Inventory:
            <a class="btn btn-default btn-xs pull-right" ng-show="editable" href="#/inventory">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </h5>
        <ul ng-show="inventory" class="list-group">
            <li ng-repeat="item in inventory" class="list-group-item">{{item.name}}</li>
        </ul>
        <div ng-hide="inventory" class="panel panel-default">
            <p class="panel-body">Empty inventory :(</p>
        </div>
    </div>
</div>

</div>
