<div ng-controller="ProfileCtrl" class="panel panel-default profileContainer">
    <div class="panel-heading">
        <div class="media">
            <img class="pull-left media-object img-rounded" ng-src="{{image}}" alt="Profile Picture" />
            <div class="media-body">
                <h4 class="media-heading">
                    {{name}}
                    <span ng-show="editable" class="glyphicon glyphicon-pencil font-small"></span>
                    <!-- TODO: this button should allow users to edit the page (profile.js) -->
                    <a ng-hide="editable" class="button messageButton font-small" href="/messages/{{id}}?offer=0">Message</a>
                    <!-- TODO: this button should allow user to send message-->
                </h4>
                Location: <strong>{{location}}</strong><br />
                Rating: <strong>+{{donated}} / -{{received}}</strong>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <h5>
            Available Foods in Inventory:
            <a ng-show="editable" href="#inventory">&nbsp;<span class="glyphicon glyphicon-pencil font-small"></span></a>
        </h5>
        <div class="list-group">
            <div ng-repeat="item in inventory">
                <p class="list-group-item">{{item.name}}</p>
            </div>
            <div ng-hide="inventory" class="list-group-item">
                <p class="list-group-item-heading">Empty inventory :(</p>
            </div>
        </div>
    </div>
</div>