<div ng-show="error" class="alert alert-warning">
  <a class="close" ng-click="resetError()">×</a>
  <div>{{error}}</div>
</div>

<div class="panel panel-default inventory-container">
  <div class="panel-heading">
    <div class="media">
      <img class="pull-left media-object img-rounded" ng-src="{{profile.img_path}}" alt="Profile Picture" />
      <div class="media-body">
        <h4 class="media-heading">
          {{profile.name}}
          <a href="#/profile/edit" ng-show="editable" class="btn btn-default btn-xs pull-right">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </h4>
        Location: <strong>{{profile.location}}</strong><br />
      </div>
    </div>
  </div>
  <div class="panel-body">
    <h4 class="below_margin">Inventory:</h4>
    <div ng-show="editable">
      <form class="input-group" role="form" ng-submit="addItem()">
        <label class="sr-only" for="inputItem">Item</label>
        <input type="text" class="form-control"
        id="inputItem" name="itemName" ng-model="itemName"
        ng-options="item.name as item.name for item in typeahead($viewValue)"
        placeholder="Enter item" required bs-typeahead>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </form>

      <div class="panel-group inventory-list" id="accordion">
        <div data-toggle="collapse" data-parent="#accordion" data-target="#item{{item.id}}" class="inv-panel panel panel-default inventory-item" ng-repeat="item in inventory | orderBy:'name'">
          <a class="inv-title link_color">
            <div class="panel-heading">
              <h5 class="panel-title">{{item.name}}</h5>
            </div>
          </a>
          <div id="item{{item.id}}" class="collapse">
            <div class="panel-body">
              <a class="btn btn-danger btn-sm pull-right" ng-click="deleteItem(item.id)">
                <i class="fa fa-trash-o"></i>  Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="!editable">
      <p ng-show="inventory" class="inv-label info_label">Click an item to email {{profile.first_name}}.</p>
      <div class="panel-group inventory-list" id="accordion">
        <div class="inv-panel panel panel-default inventory-item" ng-repeat="item in inventory | orderBy:'name'">
          <a class="inv-title" href="#/messages/compose/{{profile.id}}?item={{item.name}}&offer=0" class="link_color">
            <div class="panel-heading">
              <h5 class="panel-title">{{item.name}}</h5>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div ng-hide="inventory" class="panel panel-default">
      <p class="panel-body">Empty inventory :(</p>
    </div>
  </div>
</div>
