<div class="row">
  <div class="col-xs-12">
    <form ng-submit="search()" class="input-group right-inner-addon">
      <p ng-click="clearQuery()" ng-show="query.length > 0">
        <i class="fa fa-times-circle"></i>
      </p>
      <input type="text" class="form-control" ng-model="query"
             ng-options="item.name as item.name for item in typeahead($viewValue)"
             placeholder="Ingredient Search" bs-typeahead>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Search</button>
      </span>
    </form>
  </div>
</div>

<div ng-show="doneQuery">
  <p id="search-summary">
    <strong>{{ results.length }}</strong>
    <span ng-if="results.length == 1">person has</span>
    <span ng-if="results.length != 1">people have</span>
    {{ doneQuery }}.
  </p>
  <div class="list-group">
    <div ng-repeat="result in results">
      <div class="list-group-item">
        <h5 class="list-group-item-heading">
          <a href="#/profile/{{result.id}}">
            {{ result.first_name }} {{ result.last_name }}
          </a>
        </h5>
        <div class="list-group-item-text media">
          <img ng-src="{{result.img_path}}" class="img-rounded media-object pull-left" width="64"/>
          <p>Location: <strong>{{result.location}}</strong></p>
          <p ng-if="result.distance != undefined">Distance: <strong>{{result.distance}}</strong> miles</p>
          <p>
            <a href="#/messages/compose/{{result.id}}?item={{doneQuery}}&offer=0"
               class="btn btn-default btn-sm pull-right">
              <i class="fa fa-envelope-o"></i> Email
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="doneQuery">
  <div class="row">
    <p class="col-xs-8">
      Post a request for {{doneQuery}}?
    </p>
    <div class="col-xs-4">
      <a class="btn btn-success pull-right" href="#/bulletins/create?item={{doneQuery}}">
        <i class="fa fa-thumb-tack"></i> Post
      </a>
    </div>
  </div>
</div>