<h3>Thanks for joining!<br>First, a brief tutorial:</h3>
<div class="media" ng-repeat="slide in slides">
    <img class="img-responsive media-object col-xs-5" ng-src="/images/{{slide.src}}">
    <div class="media-body col-xs-7">
        <h4 class="media-heading">{{slide.title}}</h4>
        <ul>
          <li ng-repeat="bullet in slide.bullets">{{bullet}}</li>
        </ul>
    </div>
</div><br>
<h4>Now you're ready to use Epulo!</h4>
<a class="btn btn-primary" href="#/profile/{{userID}}">View your profile</a>
<a class="btn btn-primary" href="#/">View bulletins</a>