<h3>Tutorial</h3>
<div class="media">
    <img class="img-responsive tutorial-img media-object pull-left" src="/images/tutorial/search.png">
    <div class="media-body">
        <h4 class="media-heading">Search</h4>
        <ul>
          <li>Find ingredients you need</li>
        </ul>
    </div>
</div>
<div class="media">
    <img class="img-responsive media-object col-xs-4" src="/images/tutorial/post-bulletins.png">
    <div class="media-body col-xs-8">
        <h4 class="media-heading">Post bulletins</h4>
        <ul>
          <li>Can't find what you need? Post a bulletin to ask the Epulo community</li>
          <li>Or, if you have some to share, let everybody know!</li>
        </ul>
    </div>
</div>
<div class="media">
    <img class="img-responsive media-object col-xs-4" src="/images/tutorial/bulletins.png">
    <div class="media-body col-xs-8">
        <h4 class="media-heading">Bulletins</h4>
        <ul>
          <li>See what people are looking for, and what people are giving away</li>
        </ul>
    </div>
</div>
<div class="media">
    <img class="img-responsive media-object col-xs-4" src="/images/tutorial/inventory.png">
    <div class="media-body col-xs-8">
        <h4 class="media-heading">Inventory</h4>
        <ul>
          <li>List ingredients you're always willing to share</li>
          <!-- TODO say something to explain how inventory items can be found in "Search" -->
        </ul>
    </div>
</div>